# Quickstart for the {{{title}}} C++ Client Library

This directory contains an example program showing how to use the {{{title}}}
C++ client library in your own projects.

## Configuring authentication for the C++ Client Library

Like most Google Cloud Platform (GCP) services, {{{title}}} requires that
your application authenticates with the service before accessing any data. If
you are not familiar with GCP authentication please take this opportunity to
review the [Authentication methods at Google][authentication-quickstart].

## Using with Bazel

1. Install Bazel using [the instructions][bazel-install] from the `bazel.build`
   website.

1. Compile this example using Bazel:

   ```bash
   cd $HOME/google-cloud-cpp/google/cloud/{{library}}/quickstart
   bazel build ...
   ```

1. Run the example, changing the placeholder(s) to appropriate values:

   ```bash
   bazel run :quickstart -- [...]
   ```

## Using with CMake

1. Install CMake.

1. Install the dependencies with your favorite tools. As an example, if you use
   [vcpkg](https://github.com/Microsoft/vcpkg.git):

   ```bash
   cd $HOME/vcpkg
   ./vcpkg install google-cloud-cpp[core,{{library}}]
   ```

1. Configure CMake:

   ```bash
   cd $HOME/google-cloud-cpp/google/cloud/{{library}}/quickstart
   cmake -S . -B .build -DCMAKE_TOOLCHAIN_FILE=$HOME/vcpkg/scripts/buildsystems/vcpkg.cmake
   cmake --build .build
   ```

1. Run the example:

   ```bash
   .build/quickstart [...]
   ```

[bazel-install]: https://docs.bazel.build/versions/main/install.html
[authentication-quickstart]: https://cloud.google.com/docs/authentication/client-libraries 'Authenticate for using client libraries'
